<nav class="navbar bg-body-tertiary mb-5">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/TicTacToe.webp" 
                 alt="Tic-Tac-Toe" 
                 width="40" 
                 height="40"
                 class="me-2">

            <span class="fs-3 fw-semibold">Tic Tac Toe</span>
        </a>

    </div>
</nav>
